<div
  class="flex h-full w-full transform flex-col overflow-hidden rounded-xl bg-white shadow-lg transition-all duration-300 hover:scale-105"
  style="view-transition-name: course-card-{{ course().id }}"
>
  <img
    [src]="getPlaceholderImageUrl()"
    alt="Изображение курса"
    class="h-40 w-full object-cover"
  />

  <div class="flex grow flex-col justify-between gap-4 p-6">
    <h2
      class="text-xl font-bold"
      style="view-transition-name: course-title-{{ course().id }}"
    >
      {{ course().name }}
    </h2>

    @if (course().grade !== null && course().grade !== undefined) {
      <div
        class="flex items-center"
        style="view-transition-name: course-grade-{{ course().id }}"
      >
        <tui-icon
          icon="@tui.award"
          class="mr-1 h-5 w-5 text-green-600"
        ></tui-icon>
        <p class="text-base font-semibold">Оценка: {{ course().grade }}</p>
      </div>
    } @else if (
      course().nearestTaskBlockStart && course().nearestTaskBlockEnd
    ) {
      <div class="text-base text-gray-600">
        <p class="mb-2 flex items-center">
          <tui-icon
            icon="@tui.calendar"
            class="mr-2 h-5 w-5 text-blue-500"
          ></tui-icon>
          Начало: {{ course().nearestTaskBlockStart | date: "medium" }}
        </p>
        <p class="flex items-center">
          <tui-icon
            icon="@tui.calendar-x"
            class="mr-2 h-5 w-5 text-red-500"
          ></tui-icon>
          Дедлайн: {{ course().nearestTaskBlockEnd | date: "medium" }}
        </p>
      </div>
    } @else {
      <p class="text-base italic text-gray-600">
        Запланированной работы пока нет.
      </p>
    }
  </div>
</div>
