@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтвердите восстановление пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Перейдите по ссылке из письма, чтобы сменить пароль.
</p>
