@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Новый пароль установлен";
}

<h1>@ViewData["Title"]</h1>
<p>
    Кликните <a asp-page="./Login">здесь</a>, чтобы войти в аккаунт.
</p>
