<div class="flex flex-col gap-4">
  <div
    class="flex flex-wrap justify-between gap-x-4 gap-y-2 text-lg text-gray-700"
  >
    <p class="flex items-center">
      <tui-icon
        icon="@tui.calendar"
        class="mr-2 h-5 w-5 text-blue-500"
      ></tui-icon>
      Начало: {{ taskBlock().startTime | date: "dd.MM.yyyy, HH:mm" }}
    </p>
    <p class="flex items-center">
      <tui-icon
        icon="@tui.calendar-x"
        class="mr-2 h-5 w-5 text-red-500"
      ></tui-icon>
      Дедлайн: {{ taskBlock().endTime | date: "dd.MM.yyyy, HH:mm" }}
    </p>
    <p class="flex items-center">
      <tui-icon
        icon="@tui.clock-fading"
        class="mr-2 h-5 w-5 text-green-500"
      ></tui-icon>
      Время на выполнение: {{ timeAllowed() }}
    </p>
    <p class="flex items-center">
      <tui-icon
        icon="@tui.info"
        class="mr-2 h-5 w-5 text-purple-500"
      ></tui-icon>
      Всего задач: {{ taskBlock().taskCount }}
    </p>
  </div>

  <div>
    <h3 class="text-lg font-semibold">Описание работы</h3>
    <p class="mt-2 text-base">
      {{ taskBlock().description }}
    </p>
  </div>

  @if (status() === "Solving" || status() === "Finished") {
    <div class="border-t border-gray-200 pt-4">
      <div class="flex items-center justify-between">
        <h4 class="text-lg font-semibold text-gray-700">Задания</h4>
        @if (status() === "Solving") {
          <app-countdown-timer
            [targetDateTime]="studentEndTime()"
            (expired)="onTimerExpired()"
          />
        }
      </div>
      <div class="flex flex-col mt-2">
        @for (solution of taskBlock().solutions; track solution.id) {
          <div class="flex items-center justify-between rounded-lg py-2">
            <div class="flex items-center gap-4">
              <tui-icon
                [icon]="
                  this.startedTaskSolution(solution)
                    ? '@tui.circle-check-big'
                    : '@tui.circle'
                "
                class="h-6 w-6 text-{{
                  this.status() === 'Solving' ? 'blue' : 'gray'
                }}-500"
              ></tui-icon>
              <span class="text-base">{{ solution.task!.name }}</span>
            </div>
            <div class="flex items-center gap-4">
              <button
                tuiButton
                type="button"
                size="m"
                appearance="outline"
                (click)="openTaskDialog(solution)"
              >
                {{ getTaskActionText(solution) }}
              </button>
              <div class="flex items-center gap-2">
                <span class="text-base">Набрано баллов:</span>
                <span
                  class="text-xl font-bold"
                  [class.text-green-500]="!!solution.grade"
                  >{{ solution.grade ?? "—" }} / 10</span
                >
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  } @else if (status() === "CanStart") {
    <button
      tuiButton
      type="button"
      size="m"
      class="mr-auto mt-1"
      (click)="confirmStart()"
    >
      Начать выполнение
    </button>
  }
</div>
