<div class="flex gap-8">
  <form class="flex w-1/3 flex-col gap-6" (ngSubmit)="invite()">
    <h1 class="text-xl font-semibold">{{ headers().invite }}</h1>
    <div class="flex flex-col gap-2">
      @for (email of emailsArray.controls; let index = $index; track index) {
        <div class="flex gap-2">
          <tui-input [formControl]="email" class="flex-1">
            Почта {{ index + 1 }}
            <input tuiTextfieldLegacy type="email" />
          </tui-input>
          <button
            tuiIconButton
            appearance="flat-destructive"
            iconEnd="@tui.trash"
            type="button"
            (click)="emailsArray.removeAt(index)"
          ></button>
        </div>
      }
      <div class="mt-2 flex flex-row justify-between">
        <button
          tuiButton
          appearance="outline"
          type="button"
          size="m"
          (click)="addControl()"
        >
          <tui-icon icon="@tui.plus" />
        </button>
        <button
          tuiButton
          type="submit"
          size="m"
          [disabled]="emailsArray.invalid || emailsArray.length === 0"
        >
          Пригласить
        </button>
      </div>
    </div>
  </form>
  <div class="flex w-2/3 flex-col gap-6">
    <div class="flex justify-between">
      <h1 class="text-xl font-semibold">{{ headers().list }}</h1>
      <tui-input
        class="w-1/3"
        [formControl]="search"
        tuiTextfieldIcon="@tui.search"
        tuiTextfieldSize="m"
      >
        Поиск
      </tui-input>
    </div>
    <div class="grid grid-cols-3 gap-4">
      @for (user of filteredUsers(); track user.id) {
        <div class="flex gap-2" [tuiHint]="user.group ?? ''">
          <tui-avatar
            [src]="user.fullName | tuiInitials"
            [style.background]="user.fullName | tuiAutoColor"
            size="m"
          />
          <span tuiTitle class="whitespace-normal">
            {{
              user.fullName === user.email ||
              user.fullName.toLowerCase().includes("не установлено")
                ? "ФИО не установлено"
                : user.fullName
            }}
            <span tuiSubtitle class="truncate">{{ user.email }}</span>
          </span>
        </div>
      }
    </div>
  </div>
</div>
