<div class="flex w-full flex-col gap-4 rounded-lg bg-white p-4">
  <h1 class="text-2xl font-bold">{{ currentCourse()?.name }}</h1>
  <label tuiLabel class="w-full grow">
    Описание курса
    <tui-textfield>
      <textarea
        [formControl]="descriptionControl"
        placeholder="Введите описание курса"
        tuiTextarea
        [min]="3"
      ></textarea>
    </tui-textfield>
  </label>
  <button
    appearance="primary"
    tuiButton
    type="button"
    class="mr-auto shadow-sm"
    size="m"
    (click)="saveDescription()"
  >
    Сохранить
  </button>
</div>

<div class="mt-4 flex w-full grow flex-col rounded-lg bg-white p-4 pt-0">
  <tui-tabs-with-more>
    <a *tuiItem routerLinkActive tuiTab [routerLink]="'taskBlocks'"> Работы </a>

    <a *tuiItem routerLinkActive tuiTab [routerLink]="'students'"> Студенты </a>
  </tui-tabs-with-more>

  <router-outlet class="mt-4" />
</div>
