@if (currentTaskChain(); as taskChain) {
  <div class="flex w-full grow flex-col gap-6 rounded-lg bg-white p-4">
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-row items-start justify-between">
        <h1 class="text-2xl font-bold">
          {{ taskChain[0].name }}
        </h1>

        @if (!currentVersion().isPublic) {
          <button tuiButton size="m" (click)="publish()">
            Сделать публичной
          </button>
        } @else {
          <tui-badge appearance="positive" tuiStatus size="xl">
            Задача публичная
          </tui-badge>
        }
      </div>

      <div class="flex flex-row items-center gap-2">
        <tui-avatar
          [src]="currentVersion().teacherFullName | tuiInitials"
          [style.background]="currentVersion().teacherFullName | tuiAutoColor"
          size="m"
        />
        <span tuiTitle class="truncate text-xl">
          {{ currentVersion().teacherFullName }}
          <span tuiSubtitle class="truncate text-base">{{
            currentVersion().teacherEmail
          }}</span>
        </span>
      </div>

      <div class="flex flex-row justify-between">
        <div class="flex flex-row flex-wrap items-center gap-2">
          @for (tag of currentVersion().tags; track tag.id) {
            <tui-chip
              size="m"
              appearance="custom"
              [style.background-color]="tag.text | tuiAutoColor"
            >
              {{ tag.text }}
            </tui-chip>
          }
          @if (currentVersion().tags?.length === 0) {
            <span class="text-base italic text-gray-600">
              У этой задачи пока нет тегов
            </span>
          }
          <button
            tuiIconButton
            iconStart="@tui.pen"
            size="m"
            appearance="outline"
            (click)="showEditTagsDialog()"
            class="ml-2 shrink-0"
          ></button>
        </div>
        <button
          tuiButton
          size="m"
          (click)="creatingNewVersion.set(true)"
          [disabled]="creatingNewVersion()"
        >
          Добавить версию
        </button>
      </div>
    </div>

    <tui-accordion [closeOthers]="false">
      @if (creatingNewVersion()) {
        <button tuiAccordion="true">Новая версия</button>
        <tui-expand [formGroup]="newVersionForm">
          <ng-container *tuiItem>
            @defer (when creatingNewVersion()) {
              <div class="flex gap-4 *:flex-1">
                <label class="flex flex-col gap-2 text-lg font-semibold"
                  >Условие задачи
                  <tui-editor formControlName="text" />
                  <tui-error
                    formControlName="text"
                    [error]="[] | tuiFieldError | async"
                  />
                </label>
                <label class="flex flex-col gap-2 text-lg font-semibold"
                  >Решение задачи
                  <tui-editor class="grow" formControlName="solutionText" />
                  <tui-error
                    formControlName="solutionText"
                    [error]="[] | tuiFieldError | async"
                  />
                </label>
              </div>

              <div class="flex justify-end gap-4">
                <button
                  tuiButton
                  size="m"
                  appearance="secondary"
                  (click)="creatingNewVersion.set(false)"
                >
                  Отменить
                </button>
                <button
                  tuiButton
                  size="m"
                  (click)="saveNewVersion()"
                  [disabled]="
                    newVersionForm.invalid ||
                    !newVersionForm.controls.text.dirty
                  "
                >
                  Сохранить
                </button>
              </div>
            }
          </ng-container>
        </tui-expand>
      }

      @for (
        version of currentTaskChain();
        track version.id;
        let index = $index;
        let first = $first
      ) {
        <button [tuiAccordion]="first">
          Версия {{ taskChain.length - index }}
        </button>

        <tui-expand>
          <div class="grid grid-cols-2 gap-4 divide-x-2 *:px-4">
            <div>
              <h3 class="mb-4 text-lg font-semibold">Условие задачи</h3>
              <tui-editor-socket [content]="version.text" />
            </div>
            <div class="flex flex-col justify-between gap-4">
              <div>
                <h3 class="mb-4 text-lg font-semibold">Решение задачи</h3>
                @if (!first || !editingSolution()) {
                  <tui-editor-socket [content]="version.rightSolutionText" />
                } @else {
                  <tui-editor [formControl]="solutionControl" />
                }
              </div>

              @if (first) {
                <div class="ml-auto flex gap-4 self-end">
                  @if (editingSolution()) {
                    <button
                      tuiButton
                      appearance="secondary"
                      (click)="editingSolution.set(false)"
                    >
                      Отменить
                    </button>
                  }

                  <button
                    tuiButton
                    [appearance]="editingSolution() ? 'primary' : 'outline'"
                    (click)="
                      editingSolution()
                        ? saveSolution()
                        : editingSolution.set(true)
                    "
                  >
                    {{ editingSolution() ? "Сохранить" : "Изменить решение" }}
                  </button>
                </div>
              }
            </div>
          </div>
        </tui-expand>
      }
    </tui-accordion>
  </div>
}

<ng-template #editTagsDialog let-observer>
  <div class="mt-6 flex flex-col gap-4">
    <app-tag-multiselect-input [formControl]="tagControl" />

    <div class="flex justify-end gap-4">
      <button
        size="xl"
        tuiButton
        type="button"
        appearance="secondary"
        (click)="observer.complete()"
      >
        Отменить
      </button>
      <button
        size="xl"
        tuiButton
        type="button"
        (click)="updateTaskTags(); observer.complete()"
      >
        Сохранить
      </button>
    </div>
  </div>
</ng-template>
