@if (currentTaskChain(); as taskChain) {
  <div class="flex w-full grow flex-col gap-6 rounded-lg bg-white p-4">
    <div class="flex flex-col gap-y-4">
      <div class="flex flex-row items-start justify-between">
        <h1
          class="text-2xl font-bold"
          style="view-transition-name: task-name-{{ id }}"
        >
          {{ taskChain[0].name }}
        </h1>

        @if (!currentVersion().isPublic) {
          <button tuiButton size="m" (click)="publish()">
            Сделать публичной
          </button>
        } @else {
          <tui-badge appearance="positive" tuiStatus size="xl">
            Задача публичная
          </tui-badge>
        }
      </div>

      <div
        class="mr-auto flex flex-row items-center gap-2"
        style="view-transition-name: task-author-{{ id }}"
      >
        <tui-avatar
          [src]="currentVersion().teacherFullName | tuiInitials"
          [style.background]="currentVersion().teacherFullName | tuiAutoColor"
          size="m"
        />
        <span tuiTitle class="truncate text-xl">
          {{ currentVersion().teacherFullName }}
          <span tuiSubtitle class="truncate text-base">{{
            currentVersion().teacherEmail
          }}</span>
        </span>
      </div>

      <div class="flex flex-row justify-between">
        <div class="flex gap-4">
          <div
            class="flex items-center gap-2"
            style="view-transition-name: task-tags-{{ id }}"
          >
            @for (tag of currentVersion().tags; track tag.id) {
              <tui-chip
                size="m"
                appearance="custom"
                [style.background-color]="tag.text | tuiAutoColor"
              >
                {{ tag.text }}
              </tui-chip>
            } @empty {
              <span class="text-base italic text-gray-600">
                У этой задачи пока нет тегов
              </span>
            }
          </div>

          @if (isAuthor()) {
            <div class="flex gap-2">
              <button
                tuiIconButton
                iconStart="@tui.pen"
                size="m"
                appearance="outline"
                (click)="showEditTagsDialog()"
              ></button>
              <button
                tuiIconButton
                iconStart="@tui.plus"
                size="m"
                appearance="outline"
                (click)="openTagsManagementDialog()"
              ></button>
            </div>
          }
        </div>
        @if (isAuthor()) {
          <button tuiButton size="m" (click)="openCreatingVersionDialog()">
            Добавить версию
          </button>
        }
      </div>
    </div>

    <tui-accordion [closeOthers]="false">
      @for (
        version of currentTaskChain();
        track version.id;
        let index = $index;
        let first = $first
      ) {
        <button [tuiAccordion]="version.id === currentVersion().id">
          Версия {{ taskChain.length - index }}
        </button>

        <tui-expand>
          <div class="grid grid-cols-2">
            <div class="border-r-2 border-gray-200 pr-4">
              <h3 class="mb-2 text-lg font-semibold">Условие задачи</h3>
              <tui-editor-socket [content]="version.text" />
            </div>
            <div class="flex flex-col justify-between gap-2 pl-4">
              <div>
                <h3 class="mb-2 text-lg font-semibold">Решение задачи</h3>
                @if (!first || !editingSolution()) {
                  <tui-editor-socket [content]="version.rightSolutionText" />
                } @else {
                  <tui-editor [formControl]="solutionControl" />
                }
              </div>

              @if (first && isAuthor()) {
                <div class="ml-auto mt-2 flex gap-4 self-end">
                  @if (editingSolution()) {
                    <button
                      tuiButton
                      appearance="secondary"
                      size="m"
                      (click)="editingSolution.set(false)"
                    >
                      Отменить
                    </button>
                  }

                  <button
                    tuiButton
                    size="m"
                    [appearance]="editingSolution() ? 'primary' : 'outline'"
                    (click)="
                      editingSolution()
                        ? saveSolution()
                        : editingSolution.set(true)
                    "
                  >
                    {{ editingSolution() ? "Сохранить" : "Изменить решение" }}
                  </button>
                </div>
              }
            </div>
          </div>
        </tui-expand>
      }
    </tui-accordion>
  </div>
}

<ng-template #editTagsDialog let-observer>
  <div class="mt-6 flex flex-col gap-4">
    <app-tag-multiselect-input [formControl]="tagControl" />

    <div class="flex justify-end gap-4">
      <button
        tuiButton
        type="button"
        appearance="flat"
        (click)="observer.complete()"
      >
        Отменить
      </button>
      <button
        tuiButton
        type="button"
        (click)="updateTaskTags(); observer.complete()"
      >
        Сохранить
      </button>
    </div>
  </div>
</ng-template>

<ng-template #createVersionDialog let-observer>
  <form
    class="flex h-[70dvh] w-[90dvw] flex-col gap-2"
    [formGroup]="newVersionForm"
    (ngSubmit)="observer.next(true); observer.complete()"
  >
    <div class="flex grow gap-4">
      <label class="flex grow flex-col gap-2 text-lg font-semibold"
        >Условие задачи
        <tui-editor class="grow" formControlName="text" />
        <tui-error
          formControlName="text"
          [error]="[] | tuiFieldError | async"
        />
      </label>
      <label class="flex grow flex-col gap-2 text-lg font-semibold"
        >Решение задачи
        <tui-editor class="grow" formControlName="solutionText" />
        <tui-error
          formControlName="solutionText"
          [error]="[] | tuiFieldError | async"
        />
      </label>
    </div>
    <div class="flex justify-end gap-4">
      <button
        tuiButton
        appearance="flat"
        (click)="observer.next(false); observer.complete()"
      >
        Отменить
      </button>
      <button
        tuiButton
        type="submit"
        [disabled]="
          newVersionForm.invalid || !newVersionForm.controls.text.dirty
        "
      >
        Сохранить
      </button>
    </div>
  </form>
</ng-template>
