<tui-scrollbar>
  <table
    tuiTable
    class="w-max table-fixed border-separate border-spacing-0"
    [columns]="columns()"
  >
    <thead>
      <tr tuiThGroup>
        <th tuiTh class="!sticky !left-0 !z-30 w-72 bg-white">Студент</th>
        <th tuiTh class="!sticky !left-[18rem] !z-30 w-20 bg-white">
          Оценка за курс
        </th>
        <th
          tuiTh
          class="!sticky !left-[23rem] !z-30 w-20 bg-white !shadow-[10px_0px_15px_-3px_rgba(0,0,0,0.1)]"
        >
          Средняя оценка
        </th>
        @for (name of taskBlocksNames(); track name) {
          <th tuiTh class="w-32">{{ name }}</th>
        }
      </tr>
    </thead>
    <tbody tuiTbody [data]="studentsAndGrades()">
      @for (
        student of studentsAndGrades();
        let rowIndex = $index;
        track student
      ) {
        <tr tuiTr>
          <td
            *tuiCell="'student'"
            tuiTd
            class="!sticky !left-0 !z-20 bg-white"
            [tuiHint]="getHint(student.email)"
          >
            <div class="flex flex-row items-center gap-2">
              <tui-avatar
                [src]="student.fullName | tuiInitials"
                [style.background]="student.fullName | tuiAutoColor"
                size="m"
              />
              <span tuiTitle class="!whitespace-normal text-xl">
                {{ student.fullName }}
                <span tuiSubtitle class="!truncate text-base">{{
                  student.email
                }}</span>
              </span>
            </div>
          </td>
          <td
            *tuiCell="'courseGrade'"
            tuiTd
            class="!sticky !left-[18rem] !z-20 bg-white"
          >
            <tui-textfield
              class="flex h-full place-content-center"
              [tuiTextfieldSize]="'l'"
            >
              <input
                class="!border-b-0 text-lg font-semibold"
                tuiInputNumber
                [min]="0"
                [max]="10"
                [formControl]="courseGradeControls().at(rowIndex)"
              />
            </tui-textfield>
          </td>
          <td
            *tuiCell="'averageGrade'"
            tuiTd
            class="!sticky !left-[23rem] !z-20 bg-white !shadow-[10px_0px_15px_-3px_rgba(0,0,0,0.1)]"
          >
            @let averageGrade = average(student.grades);
            <div
              class="flex justify-center text-lg font-semibold"
              [class.text-red-500]="averageGrade < 4"
            >
              {{ averageGrade | number: "1.2-2" }}
            </div>
          </td>
          @let skippedBlocks = taskBlocksNames().length - student.grades.length;
          @for (col of columns().slice(3); let index = $index; track col) {
            @let hittable =
              student.grades[index]?.grade !== null &&
              student.grades[index]?.grade !== undefined &&
              !student.grades[index].solutionsIsEmpty;
            <td
              *tuiCell="col"
              tuiTd
              (click)="
                showGradeDialog(
                  index,
                  student.studentId,
                  student.grades[index].id,
                  hittable
                )
              "
              class="transition-colors duration-300"
              [class.cursor-pointer]="hittable"
              [class.hover:bg-gray-100]="hittable"
            >
              <div
                class="relative flex items-center justify-center text-lg font-semibold"
                [class.text-red-500]="
                  !!student.grades[index]?.grade &&
                  student.grades[index].grade < 4
                "
              >
                <!-- Был добавлен в курс после блока -->
                @if (index < skippedBlocks) {
                  –
                  <tui-icon
                    icon="@tui.info"
                    tuiHint="Добавлен на курс позднее"
                    class="absolute -top-1/2 left-[90%] -translate-x-1/4 text-amber-500"
                  />
                } @else if (
                  student.grades[index].grade !== null &&
                  student.grades[index].grade !== undefined
                ) {
                  <!-- Есть оценка -->
                  <span>
                    {{ student.grades[index].grade }}
                  </span>
                  @if (student.grades[index].solutionsIsEmpty) {
                    <!-- Есть оценка и массив решений - пуст -->
                    <tui-icon
                      icon="@tui.info"
                      tuiHint="Студент не начинал решение работы"
                      class="absolute -top-1/2 left-[90%] -translate-x-1/4 text-red-500"
                    />
                  }
                } @else {
                  <!-- Нет оценки -->
                  <button
                    appearance="flat"
                    tuiButton
                    type="button"
                    size="m"
                    (click)="
                      showGradeDialog(
                        index,
                        student.studentId,
                        student.grades[index].id
                      )
                    "
                    [disabled]="!inFuture(taskBlocks()[index].endTime)"
                  >
                    Оценить
                  </button>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</tui-scrollbar>
