<table
  tuiTable
  class="table"
  [columns]="columns()"
>
  <thead>
  <tr tuiThGroup>
    <th tuiTh>Студент</th>
    @for (name of taskBlocksNames(); track name) {
      <th tuiTh>{{ name }}</th>
    }
  </tr>
  </thead>
  <tbody
    tuiTbody
    [data]="studentsAndGrades()"
  >
    @for (student of studentsAndGrades(); track student) {
      <tr tuiTr>
        <td *tuiCell="'student'" tuiTd>
          <div class="flex flex-row items-center gap-2">
            <tui-avatar
              [src]="student.fullName | tuiInitials"
              [style.background]="student.fullName | tuiAutoColor"
              size="m"
            />
            <span tuiTitle class="truncate text-xl">
              {{ student.fullName }}
              <span tuiSubtitle class="truncate text-base">{{ student.fullName }}</span>
            </span>
          </div>
        </td>
        @for (col of columns().slice(1); let index = $index; track col) {
          <td *tuiCell="col" tuiTd>
            @if (!!student.grades[index]) {
              {{ student.grades[index] }}
            } @else {
              <button
                appearance="outline"
                tuiButton
                type="button"
                size="m"
              >Оценить
              </button>
            }
          </td>
        }
      </tr>
    }
  </tbody>
</table>
