<header class="flex w-full justify-center bg-white shadow-sm">
  <nav class="container relative flex h-[60px] items-center justify-between">
    <img
      ngSrc="assets/logo.png"
      alt="Логотип нашего приложения"
      height="45"
      width="105"
      priority
    />
    <div
      class="absolute left-1/2 flex h-full -translate-x-1/2 items-center gap-x-6 py-4"
    >
      @for (link of links$ | async; track link[0]) {
        <a
          routerLinkActive="text-primary font-semibold"
          [routerLinkActiveOptions]="{ exact: false }"
          class="text-lg font-medium text-gray-600 transition-colors duration-200 ease-in-out hover:text-primary"
          [routerLink]="link[1]"
        >
          {{ link[0] }}
        </a>
      }
    </div>
    <a
      routerLink="/profile"
      routerLinkActive="text-primary font-semibold"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-x-2 text-lg font-medium text-gray-600 transition-colors duration-200 ease-in-out hover:text-primary"
    >
      <span>{{ shortenedFullName$ | async }}</span>
      <tui-icon icon="@tui.circle-user-round" />
    </a>
  </nav>
</header>
