<header class="flex w-full bg-white justify-center">
  <nav class="flex justify-between container items-center">
    <div class="flex h-full gap-x-6 py-4">
      <a class="text-lg font-medium"> Лого </a>
      <a class="text-lg font-medium" routerLink="/teacher/courses"> Курсы </a>
      <a class="text-lg font-medium" routerLink="/teacher/tasks"> Задания </a>
      <a class="text-lg font-medium" routerLink="/teacher/students">
        Студенты
      </a>
    </div>
    <a class="text-lg font-medium" routerLink="/profile">
      Пупкин И.И.
      <tui-icon icon="@tui.circle-user-round" />
    </a>
  </nav>
</header>
