<div class="mb-4 flex w-1/2 flex-row justify-stretch gap-4">
  <tui-input tuiTextfieldSize="m" [formControl]="nameControl" class="flex-1"
    >Введите название работы
  </tui-input>

  <button
    appearance="primary"
    tuiButton
    type="button"
    size="m"
    (click)="createTaskBlock()"
    [disabled]="nameControl.invalid"
  >
    Добавить работу
  </button>
</div>

<h3 class="mb-2 text-lg font-semibold">Не опубликованные</h3>
<tui-accordion class="!inline">
  @for (taskBlock of notPublicTaskBlocks$ | async; track taskBlock.id) {
    <button class="w-full" [tuiAccordion]="false">
      {{ taskBlock.name }}
    </button>
    <tui-expand>
      <app-task-blocks-accordion-item [taskBlock]="taskBlock" />
    </tui-expand>
  } @empty {
    <h3 class="text-center text-lg italic text-gray-600">
      Не опубликованных работ нет
    </h3>
  }
</tui-accordion>

<h3 class="mb-2 mt-4 text-lg font-semibold">Опубликованные</h3>
<tui-accordion class="!inline">
  @for (taskBlock of publicTaskBlocks$ | async; track taskBlock.id) {
    <button class="w-full" [tuiAccordion]="false">
      {{ taskBlock.name }}
    </button>
    <tui-expand>
      <app-task-blocks-accordion-item [taskBlock]="taskBlock" />
    </tui-expand>
  } @empty {
    <h3 class="text-center text-lg italic text-gray-600">
      Опубликованных работ нет
    </h3>
  }
</tui-accordion>
