<tui-accordion>
  @let formGroups = taskBlockForms();
  @for (taskBlock of taskBlocks(); let index = $index; track taskBlock.id) {
    @let formGroup = formGroups[index];
    <button [tuiAccordion]="true">{{ formGroup.value.name }}</button>
    <tui-expand>
      <div
        class="flex flex-col gap-4 border-b-2 border-gray-200 pb-4"
        [formGroup]="formGroup"
      >
        <tui-input formControlName="name"> Название</tui-input>
        <tui-textfield>
          <label tuiLabel>Описание</label>
          <textarea
            tuiTextarea
            [min]="3"
            formControlName="description"
          ></textarea>
        </tui-textfield>
        <div class="flex flex-row gap-4">
          <tui-input-date-time
            class="flex-1"
            formControlName="startTime"
            [min]="currentDay"
          >
            Дата и время начала
          </tui-input-date-time>
          <tui-input-date-time
            class="flex-1"
            formControlName="endTime"
            [min]="formGroup.value.startTime"
          >
            Дата и время конца
          </tui-input-date-time>
          <tui-input-time class="flex-1" formControlName="timeAllowed">
            Время на выполнение
          </tui-input-time>
        </div>
        <button
          appearance="primary"
          tuiButton
          type="button"
          class="mr-auto shadow-sm"
          [iconEnd]="'@tui.save'"
          [disabled]="formGroup.invalid"
          size="m"
          (click)="saveTaskBlock(index)"
        >
          Сохранить
        </button>
      </div>
      <div class="flex flex-row pt-4">
        <div class="flex w-2/3 flex-col gap-4 border-r-2 border-gray-200 pr-4">
          <h2 class="text-xl font-semibold">Задачи</h2>
          <ol class="list-decimal pl-10">
            @for (task of taskBlock.tasks; track task.id) {
              <li>
                <div class="flex items-center justify-between">
                  <a [routerLink]="['/tasks', task.id]"> {{ task.name }}</a>
                  <tui-icon
                    class="text-lg text-red-300 transition-colors duration-300 hover:text-red-500"
                    icon="@tui.trash"
                    (click)="
                      removeTaskFromBlock(
                        taskBlock.courseId,
                        taskBlock.id,
                        task.id
                      )
                    "
                  >
                  </tui-icon>
                </div>
              </li>
            }
          </ol>
          <button
            appearance="primary"
            tuiButton
            type="button"
            class="mr-auto"
            size="m"
            [iconEnd]="'@tui.plus'"
            (click)="
              addTasksToBlock(taskBlock.id, taskBlock.courseId, taskBlock.tasks)
            "
          >
            Добавить
          </button>
        </div>
        <div class="w-1/3 pl-4"></div>
      </div>
    </tui-expand>
  }
</tui-accordion>

<ng-template #addTasksDialog let-observer let-data="data">
  <app-task-table
    #taskTable
    [selectMode]="true"
    [excludeTaskIds]="data.taskIds"
  />
  <button tuiButton type="button" (click)="addTasks(observer)">
    Добавить задания
  </button>
</ng-template>
