@let data = coursesList$ | async;

<div class="relative w-full grow rounded-lg bg-white p-4">
  <table tuiTable [columns]="columns" class="w-full table-fixed">
    <thead>
      <tr tuiThGroup>
        <th tuiTh class="w-3/12" *tuiHead="'course'">Курс</th>
        <th tuiTh class="w-2/12" *tuiHead="'students'">Количество студентов</th>
        <th tuiTh class="w-2/12" *tuiHead="'taskBlocks'">
          Количество блоков заданий
        </th>
        <th tuiTh class="w-5/12" *tuiHead="'description'">Описание</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data">
      @for (item of data; track item.id) {
        <tr tuiTr class="group cursor-pointer" [routerLink]="[item.id]">
          <td
            tuiTd
            class="transition-colors duration-300 ease-in-out group-hover:bg-gray-100"
            *tuiCell="'course'"
          >
            <p tuiCell="l">
              <span tuiTitle class="!whitespace-normal">{{ item.name }}</span>
            </p>
          </td>
          <td
            tuiTd
            class="transition-colors duration-300 ease-in-out group-hover:bg-gray-100"
            *tuiCell="'students'"
          >
            <p tuiCell="l">
              <span tuiTitle class="!whitespace-normal">{{ item.studentsCount }}</span>
            </p>
          </td>
          <td
            tuiTd
            class="transition-colors duration-300 ease-in-out group-hover:bg-gray-100"
            *tuiCell="'taskBlocks'"
          >
            <p tuiCell="l">
              <span tuiTitle class="!whitespace-normal">{{ item.taskBlocksCount }}</span>
            </p>
          </td>
          <td
            tuiTd
            class="transition-colors duration-300 ease-in-out group-hover:bg-gray-100"
            *tuiCell="'description'"
          >
            <p tuiCell="l">
              <span tuiTitle class="!whitespace-normal">{{ item.description }}</span>
            </p>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <button
    appearance="primary"
    tuiButton
    type="button"
    class="!absolute bottom-6 right-6 shadow-sm"
    (click)="addCourse()"
  >
    <tui-icon icon="@tui.plus" />
  </button>
</div>
