<form
  [formGroup]="form"
  (ngSubmit)="save()"
  class="flex w-full flex-col gap-4 rounded-lg bg-white p-4 sm:w-2/3 md:w-1/2"
>
  <h1 class="text-2xl font-bold">Заполните данные</h1>

  <tui-textfield
    ><label tuiLabel>Фамилия</label>
    <input tuiTextfield formControlName="surname" />
    <tui-error formControlName="surname" [error]="[] | tuiFieldError | async" />
  </tui-textfield>
  <tui-textfield
    ><label tuiLabel>Имя</label>
    <input tuiTextfield formControlName="name" />
    <tui-error formControlName="name" [error]="[] | tuiFieldError | async" />
  </tui-textfield>
  <tui-textfield
    ><label tuiLabel>Отчество</label>
    <input tuiTextfield formControlName="patronymic" />
    <tui-error
      formControlName="patronymic"
      [error]="[] | tuiFieldError | async"
    />
  </tui-textfield>

  <tui-textfield
    ><label tuiLabel>Образовательная программа (полностью)</label>
    <input tuiTextfield formControlName="educationalProgram" placeholder="Компьютерные науки и технологии"/>
    <tui-error
      formControlName="educationalProgram"
      [error]="[] | tuiFieldError | async"
    />
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel>Номер группы</label>
    <input tuiInputNumber formControlName="groupNumber" />
  </tui-textfield>
  <tui-textfield>
    <label tuiLabel>Год начала обучения</label>
    <input
      tuiInputNumber
      [min]="2015"
      [max]="2080"
      [tuiNumberFormat]="{ thousandSeparator: '' }"
      formControlName="educationStartYear"
    />
  </tui-textfield>

  <button tuiButton type="submit" size="m">Сохранить</button>
</form>
